.another-slider__nav_prev {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 15;
  transform: translateY(-50%);
  background: rgba(255,255,255,.5) url('../../../assets/icon-prev.svg') center/20px no-repeat;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(255,255,255,.8);
  }
  &:active {
    background-color: rgba(255,255,255,.3);
  }
}