.another-slider {
  &__wrapper {
    position: relative;
  }
  &__slides {
    position: relative;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.2);
  }
  &__slide {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;

    &.active {
      width: auto;
      height: auto;
      transition: transform 1500ms ease;
      animation-duration: 1500ms;
      animation-name: fadeIn;
    }
  }
  &__nav {
    position: absolute;
    top: 50%;
    z-index: 15;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,.5);
    cursor: pointer;

    &_prev {
      left: 0;
    }
    &_next {
      right: 0;
    }
  }
  &__dots {
    position: absolute;
    z-index: 15;
    bottom: 15px;
    left: 50%;
    display: flex;
    transform: translateY(-50%) translateX(-50%);
  }
}    
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}